<!-- posts  -->
<div class="span-16 prepend-1 append-1" id="posts">
<%= render :partial => "bb" %>
<%= render :partial => "itau" %>
<%= render :partial => "hsbc" %>
<%= render :partial => "sicredi" %>
<%= render :partial => "bradesco" %>
<%= render :partial => "santander" %>
<%= render :partial => "caixa" %>
<%= render :partial => "sicoob" %>
<%= render :partial => "banestes" %>
<%= render :partial => "brasilia" %>
<%= render :partial => "bnb" %>
<%= render :partial => "banrisul" %>
<%= render :partial => "cecred" %>
<%= render :partial => "credisis" %>
<%= render :partial => "unicred" %>

<div id="post-19" class="post">
  <div class="posttitle" >
    <h2>Outros Exemplos</h2>
    <span class="postmeta">
      <a href="/home/boleto_hash">Boleto com Hash</a> | <a href="/home/multi_boleto">Múltiplos Boleto</a>
    </span>
  </div>
</div>

</div>